In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('../data/MetObjects.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
df.shape

(477804, 54)

In [28]:
df.head(1)

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [83]:
#removing unnecessary fields for this investigation
new_df = df.drop(columns=['Is Timeline Work', 'Is Public Domain', 'Rights and Reproduction', 'Object Wikidata URL', 'Metadata Date', 'Repository', 'Tags AAT URL', 'Tags Wikidata URL', 'AccessionYear', 'Subregion', 'Locale', 'Locus', 'River', 'Dynasty', 'Geography Type', 'City', 'Gallery Number', 'Period', 
                'State', 'County', 'Reign', 'Object End Date', 'Dimensions', 'Credit Line', 'Region', 'Excavation', 'Object Begin Date', 'Artist Wikidata URL', 'Artist ULAN URL', 'Portfolio', 'Constituent ID', 'Artist End Date', 'Object Name', 'Artist Prefix', 'Artist Role', 'Artist Display Bio', 'Artist Alpha Sort', 'Artist Suffix'])

In [84]:
new_df.isnull().sum()

Object Number               0
Is Highlight                0
Object ID                   0
Department                  0
Title                   29185
Culture                270425
Artist Display Name    202269
Artist Nationality     202269
Artist Begin Date      202269
Artist Gender          374743
Object Date             13867
Medium                   7120
Country                402053
Classification          78206
Link Resource               0
Tags                   277404
dtype: int64

In [85]:
new_df['Artist Display Name'].value_counts()

Walker Evans                                                                                7505
Kinney Brothers Tobacco Company                                                             4163
Unknown                                                                                     3562
W. Duke, Sons & Co.                                                                         3088
Allen & Ginter                                                                              2960
                                                                                            ...
D. Kojan                                                                                       1
Albert Komp                                                                                    1
Paul Konewka|Roberts Brothers|Johann Wolfgang von Goethe|Bayard Taylor|John Wilson & Son       1
Paul Konewka|Stroefer and Kirchner                                                             1
Greenleaf & Crosby Co.                                                                         1
Name: Artist Display Name, Length: 64531, dtype: int64

In [86]:
new_df.head(1)

,Object Number,Is Highlight,Object ID,Department,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,Artist Gender,Object Date,Medium,Country,Classification,Link Resource,Tags
0,1979.486.1,False,1,The American Wing,One-dollar Liberty Head Coin,NaN,James Barton Longacre,American,1794,NaN,1853,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN

In [87]:
new_df['Artist Nationality'].value_counts()

                                                                                               67789
American                                                                                       46368
 |                                                                                             17287
French                                                                                         16310
Italian                                                                                        11681
                                                                                               ...
German|German|German|German| |                                                                     1
Netherlandish|Flemish|Flemish|Flemish                                                              1
French|Danish                                                                                      1
 | |British|British|British|British|British|British|British|British|British|British|British        1
 | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |                                       1
Name: Artist Nationality, Length: 5037, dtype: int64

In [88]:
new_df['Artist Gender'].value_counts()

|                                                        56855
||                                                       21063
Female                                                    8708
|||                                                       6245
Female|                                                   2680
                                                         ...
||||||||||||Female||||                                       1
||||||||||Female||                                           1
|Female||||||||Female|||||||Female|||||||||Female||||        1
||||Female|||||||||||                                        1
||||||||||||||||||Female|||                                  1
Name: Artist Gender, Length: 284, dtype: int64

In [89]:
new_df['Is Highlight'].value_counts()

False    475320
True       2484
Name: Is Highlight, dtype: int64

In [90]:
new_df['Department'].value_counts()

Drawings and Prints                          167152
European Sculpture and Decorative Arts        42934
Photographs                                   37192
Asian Art                                     36817
Greek and Roman Art                           33750
Costume Institute                             31412
Egyptian Art                                  27962
The American Wing                             18412
Islamic Art                                   15473
Modern and Contemporary Art                   14241
Arms and Armor                                13611
Arts of Africa, Oceania, and the Americas     12335
Medieval Art                                   7150
Ancient Near Eastern Art                       6222
Musical Instruments                            5210
European Paintings                             2617
Robert Lehman Collection                       2586
The Cloisters                                  2338
The Libraries                                   390
Name: Department, dtype: int64

In [91]:
new_df['Culture'].value_counts()

American                      28381
French                        18348
Greek, Attic                  17321
Japan                         16834
China                         13486
                              ...
Austrian, possibly Hall           1
Netherlandish or Dutch            1
British and Chinese               1
French with Chinese sticks        1
Dutch, possibly Beveren           1
Name: Culture, Length: 7180, dtype: int64

In [133]:
new_df['Classification'].value_counts().nlargest(20)

Prints                                  80981
Prints|Ephemera                         28388
Photographs                             27091
Drawings                                22717
Vases                                   21315
Books                                   14764
Ceramics                                11059
Textiles-Woven                          11000
Photographs|Ephemera                    10018
Paintings                                8624
Glass                                    6133
Negatives                                6133
Prints|Ornament & Architecture           5171
Drawings|Ornament & Architecture         4974
Textiles-Laces                           4957
Ceramics-Porcelain                       4373
Textiles-Embroidered                     4086
Metalwork-Silver                         3976
Books|Prints|Ornament & Architecture     3752
Ceramics-Pottery                         3664
Name: Classification, dtype: int64

In [114]:
highlights_df = new_df[new_df['Is Highlight'] == True]

In [121]:
highlights_df.shape

(2484, 16)

In [119]:
highlights_df.isnull().sum()

Object Number             0
Is Highlight              0
Object ID                 0
Department                0
Title                    25
Culture                1179
Artist Display Name     792
Artist Nationality      792
Artist Begin Date       792
Artist Gender          1894
Object Date               8
Medium                  326
Country                1574
Classification         1058
Link Resource             0
Tags                    852
dtype: int64

In [116]:
highlights_df['Artist Display Name'].value_counts()

Winslow Homer                                                        12
John Singer Sargent                                                  12
Thomas Eakins                                                        10
Wendy Red Star                                                       10
Rembrandt (Rembrandt van Rijn)                                        9
                                                                     ..
Francesca Woodman                                                     1
Adolf de Meyer                                                        1
Albert Sands Southworth|Josiah Johnson Hawes|Southworth and Hawes     1
Alexander Gardner|Mathew B. Brady                                     1
Carolyn Elizabeth Shuttlesworth-Davidson|Howard University            1
Name: Artist Display Name, Length: 1328, dtype: int64

In [120]:
highlights_df['Artist Nationality'].value_counts()

                                       391
American                               292
French                                 171
 |                                     137
Italian                                 97
                                      ...
American, born Germany                   1
British, born United States              1
French, born Romania (Transylvania)      1
Swiss| |                                 1
 | | | | | | | | | | |                   1
Name: Artist Nationality, Length: 181, dtype: int64

In [122]:
highlights_df['Department'].value_counts()

The American Wing                            434
The Libraries                                376
Modern and Contemporary Art                  179
Costume Institute                            134
European Paintings                           125
Islamic Art                                  120
Greek and Roman Art                          115
Egyptian Art                                 114
Photographs                                  113
Musical Instruments                          105
Arts of Africa, Oceania, and the Americas    104
Robert Lehman Collection                      98
Drawings and Prints                           89
European Sculpture and Decorative Arts        82
Ancient Near Eastern Art                      75
The Cloisters                                 58
Asian Art                                     55
Medieval Art                                  54
Arms and Armor                                54
Name: Department, dtype: int64

In [148]:
highlights_df['Classification'].value_counts()

Paintings                       262
Photographs                     106
Drawings                         96
Sculpture                        64
Prints                           49
                               ...
Stone-Architectural               1
Ivory/Bone-Reliefs-Inscribed      1
Stone-Implements-Inscribed        1
Stone-Cylinder Seals              1
Paintings|Works on Paper          1
Name: Classification, Length: 230, dtype: int64

In [154]:
American_df = new_df[new_df['Department'] == 'The American Wing']

In [155]:
American_df.shape

(18412, 16)

In [156]:
American_df.head()

,Object Number,Is Highlight,Object ID,Department,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,Artist Gender,Object Date,Medium,Country,Classification,Link Resource,Tags
0,1979.486.1,False,1,The American Wing,One-dollar Liberty Head Coin,NaN,James Barton Longacre,American,1794,NaN,1853,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN
1,1980.264.5,False,2,The American Wing,Ten-dollar Liberty Head Coin,NaN,Christian Gobrecht,,1785,NaN,1901,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN
2,67.265.9,False,3,The American Wing,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,1909â€“27,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN
3,67.265.10,False,4,The American Wing,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,1909â€“27,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN
4,67.265.11,False,5,The American Wing,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,1909â€“27,Gold,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN

In [152]:
American_df.isnull().sum()

Object Number              0
Is Highlight               0
Object ID                  0
Department                 0
Title                      0
Culture                 1925
Artist Display Name     6475
Artist Nationality      6475
Artist Begin Date       6475
Artist Gender          15981
Object Date              637
Medium                    40
Country                 7241
Classification         18412
Link Resource              0
Tags                    9816
dtype: int64

In [157]:
American_df['Medium'].value_counts()

Porcelain                                                                    1302
Silver                                                                       1111
Oil on canvas                                                                 974
Watercolor on ivory                                                           632
Earthenware                                                                   626
                                                                             ...
Gouache, watercolor, and graphite on off-white wove paper                       1
Watercolor and gouache with graphite on brown wove paper                        1
Watercolor and gouache and graphite on off-white Japan-type paper               1
Graphite, fixative layer, on off-white wove paper, laid down on pulpboard       1
Chromogenic print                                                               1
Name: Medium, Length: 3690, dtype: int64

In [158]:
highlights_df['Medium'].value_counts()

Oil on canvas                273
Bronze                        50
Marble                        44
Gelatin silver print          35
silk                          34
                            ...
Feathers on cotton fabric      1
Green schist                   1
Wood, red hematite             1
Wood, paint, feathers          1
Watercolor on paper board      1
Name: Medium, Length: 1246, dtype: int64

In [160]:
oil_df = new_df[new_df['Medium'] == 'Oil on canvas']

In [161]:
oil_df.shape

(3433, 16)